name: api_weather_app
description: A simple Flutter weather app using Open-Meteo and Nominatim (no API key).
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
